* {
  box-sizing: border-box; }

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto; }

main {
  background: #f7f7f8;
  padding: 60px 0 80px;
  min-height: 300px; }

h1, h4, p, i {
  margin: 0; }

p {
  line-height: 1.5; }

h1 {
  color: white;
  font-size: 48px; }

h2, h3 {
  margin: 0 0 10px; }

h2 {
  font-size: 30px; }

ul {
  padding: 0; }

li {
  list-style: none; }

a, .mobile-menu button, .contact .contact-section .link-container .email-link {
  text-decoration: none;
  color: black; }

header {
  background: lightblue;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100; }
  header .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .nav-container .logo {
      background: steelblue;
      height: 70px;
      width: 82px;
      padding: 5px;
      margin: 5px;
      border-radius: 1em; }
      header .nav-container .logo i {
        color: white; }
    header .nav-container ul {
      display: flex;
      margin-right: 100px; }
      header .nav-container ul li {
        margin: 0 20px; }
        header .nav-container ul li a, header .nav-container ul li .mobile-menu button, .mobile-menu header .nav-container ul li button, header .nav-container ul li .contact .contact-section .link-container .email-link, .contact .contact-section .link-container header .nav-container ul li .email-link {
          text-transform: uppercase;
          padding: 10px; }
    header .nav-container .open-button {
      display: none;
      background: transparent;
      border: none;
      text-transform: uppercase;
      padding: 10px;
      margin: 0 50px;
      color: black; }
      header .nav-container .open-button:hover {
        cursor: pointer;
        background: orange; }

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  height: 100vh;
  width: 180px;
  background: #9e9e9e;
  transition: 0.3s;
  padding: 30px 20px; }
  .mobile-menu a, .mobile-menu button, .mobile-menu .contact .contact-section .link-container .email-link, .contact .contact-section .link-container .mobile-menu .email-link {
    color: black;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    font-size: 0.8em; }
    .mobile-menu a:hover, .mobile-menu button:hover, .mobile-menu .contact .contact-section .link-container .email-link:hover, .contact .contact-section .link-container .mobile-menu .email-link:hover {
      cursor: pointer;
      background: orange; }
  .mobile-menu button {
    border: none;
    background: #f7f7f8;
    font-weight: bold; }

.closed {
  transform: translate(180px, 0); }

.hero, .small-hero {
  width: 100%;
  background: url(../img/danguin.jpg);
  background-size: cover;
  background-position: 60% 20%;
  margin-top: 80px;
  display: flex;
  align-items: flex-end; }
  .hero .hero-content, .small-hero .hero-content {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) 90%, transparent);
    width: 40%;
    min-width: 540px;
    margin: 300px 0 5%; }
    .hero .hero-content .text-wrap, .small-hero .hero-content .text-wrap {
      min-width: 210px;
      margin-right: 30px;
      padding: 10px 10px 10px 0;
      text-align: right; }
      .hero .hero-content .text-wrap p, .small-hero .hero-content .text-wrap p {
        margin: 0;
        padding-top: 5px;
        color: white;
        text-transform: uppercase; }

.small-hero .hero-content {
  margin: 150px 0 0; }

.bio-container {
  padding: 10px;
  display: flex;
  justify-content: center; }
  .bio-container .profile-pic {
    background: white;
    box-shadow: 6px 6px 20px 0px #9e9e9e;
    padding: 15px 15px 60px; }
    .bio-container .profile-pic img {
      width: 250px; }
  .bio-container .bio {
    max-width: 400px;
    min-width: 200px;
    padding: 20px 0;
    margin-left: 40px; }
    .bio-container .bio span, .bio-container .bio .project-container .project-content .project-text em .award, .project-container .project-content .project-text em .bio-container .bio .award {
      display: inline-block;
      margin-left: 4px;
      padding-left: 4px;
      color: steelblue;
      border-left: 1.5px solid steelblue;
      font-size: 16px;
      text-transform: uppercase; }

.project-container {
  max-width: 1000px;
  min-width: 250px;
  padding: 40px 40px 10px;
  margin: 0 auto;
  border-bottom: 1px solid #9e9e9e;
  transform: scale(0.99);
  transition: 0.2s ease-out; }
  .project-container:hover {
    background: white;
    box-shadow: 6px 6px 20px 0px #9e9e9e;
    border: none;
    transform: scale(1); }
  .project-container .project-content {
    display: flex;
    align-items: center; }
    .project-container .project-content .project-text {
      width: 50%;
      max-width: 400px;
      min-width: 250px; }
      .project-container .project-content .project-text h3 {
        margin: 20px 0 8px; }
      .project-container .project-content .project-text em {
        font-size: 14px;
        font-style: normal;
        color: #9e9e9e; }
        .project-container .project-content .project-text em span, .project-container .project-content .project-text em .award {
          font-size: 12px;
          padding: 1px 4px;
          margin: 1px 2px;
          background: orange;
          color: white; }
        .project-container .project-content .project-text em .award {
          background: orangered; }
      .project-container .project-content .project-text .button-devpost {
        display: inline-block;
        background: url(../img/devpost.png);
        background-size: cover;
        background-position: 50% 50%;
        width: 150px;
        height: 30px;
        margin: 20px 20px 20px 0; }
      .project-container .project-content .project-text .button-googleplay {
        display: inline-block;
        background: url(../img/google-play.png);
        background-size: cover;
        background-position: 50% 50%;
        width: 150px;
        height: 40px;
        margin: 20px 20px 20px 0; }
      .project-container .project-content .project-text .button-wrap {
        display: flex; }
      .project-container .project-content .project-text .button-web {
        border-radius: 50%;
        border: 2px solid black;
        background: white;
        width: 40px;
        height: 40px;
        margin: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center; }
        .project-container .project-content .project-text .button-web i {
          color: black; }
  .project-container .project-footer ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .project-container .project-footer ul li {
      margin: 2px;
      padding: 5px 10px;
      border-radius: 12px;
      background: #9e9e9e;
      color: white;
      font-size: 12px; }

.trendy-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.coffee-time-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.danpool-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.uwclosest-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.simple-vr-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.recmob-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.deafband-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.savescription-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.walkingbuddy-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.foody-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.parkthevalley-logo {
  width: 250px;
  height: 200px;
  border-radius: 10% / 50%;
  background: orange;
  margin: 0 60px 20px 0; }

.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 250px; }
  .contact .contact-section {
    width: 33%;
    min-width: 250px;
    padding: 10px;
    margin: 0 40px 40px; }
    .contact .contact-section .link-container {
      display: flex;
      margin-top: 10px; }
      .contact .contact-section .link-container a, .contact .contact-section .link-container .mobile-menu button, .mobile-menu .contact .contact-section .link-container button, .contact .contact-section .link-container .email-link {
        width: 90px;
        margin: 0 10px 10px 0;
        border: 4px solid steelblue;
        text-align: center;
        padding: 10px 0;
        font-weight: bold;
        color: steelblue; }
      .contact .contact-section .link-container p {
        color: #9e9e9e; }
        .contact .contact-section .link-container p span, .contact .contact-section .link-container p .project-container .project-content .project-text em .award, .project-container .project-content .project-text em .contact .contact-section .link-container p .award {
          border-top: 1px solid #9e9e9e;
          font-weight: bold; }
      .contact .contact-section .link-container .email-link {
        width: 130px;
        margin-right: 20px;
        font-size: 20px;
        text-transform: uppercase; }

footer {
  background: lightblue;
  padding: 25px 0 10px; }
  footer .footer-content {
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    footer .footer-content .brand-img {
      background-color: orange;
      margin: 10px;
      width: 165px;
      height: 165px;
      border-radius: 50%; }
    footer .footer-content .footer-group {
      margin: 10px 30px; }
      footer .footer-content .footer-group .footer-text {
        margin-bottom: 30px; }
      footer .footer-content .footer-group .social-media {
        width: 150px;
        margin-left: 4px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between; }
  footer .copyright {
    font-size: 12px;
    padding-top: 12px; }

@media (max-width: 1024px) {
  .link-container {
    flex-direction: column; }
  .project-container {
    padding: 40px 20px 10px 10px; }
    .project-container .project-content {
      flex-direction: column; }
      .project-container .project-content .project-img {
        margin-right: 0;
        width: 45%;
        min-width: 250px;
        padding-bottom: 35%; }
  header .nav-container ul {
    display: none; }
  header .nav-container .open-button {
    display: block; }
  .mobile-menu {
    display: block; } }

@media (max-width: 540px) {
  .hero .hero-content, .small-hero .hero-content {
    width: 540px;
    min-width: 0; }
  .bio-container {
    flex-direction: column;
    align-items: center; }
    .bio-container .bio {
      width: 250px;
      margin: 20px 0 0; } }
