.bio-container {
    padding: 10px;
    display: flex;
    justify-content: center;

    .profile-pic {
        @include card-effect($negative-space, $shadow);
        padding: 15px 15px 60px;

        img {
            width: 250px;
        }
    }
    
    .bio {
        max-width: 400px;
        min-width: 200px;
        padding: 20px 0;
        margin-left: 40px;

        span {
            display: inline-block;
            margin-left: 4px;
            padding-left: 4px;
            color: $secondary-color;
            border-left: 1.5px solid $secondary-color;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}


