footer {
    background: $primary-color;

    p {
        margin: 0;
    }

    .footer-group {
        background: $debug;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .brand-img {
            background: $debug2;
            margin: 10px;
            width: 200px;
            flex: 1 1 200px;
        }
    }
}
