footer {
    background: $primary-color;
    padding: 25px 0 10px;

    .footer-content {
        min-width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .brand-img {
            background-color: $debug;
            margin: 10px;
            width: 165px;
            height: 165px;
        }

        .footer-group {
            margin: 10px 30px;

            .footer-text {
                margin-bottom: 30px;
            }
    
            .social-media {
                width: 150px;
                margin-left: 4px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .copyright {
        font-size: 12px;
        padding-top: 12px;
    }
}





