.hero {
    @include hero-image(url(../img/danguin.jpg));
    margin-top: 80px;
    display: flex;
    align-items: flex-end;

    .hero-content {
        background: $tint-gradient;
        width: 40%;
        min-width: 540px;
        margin: 300px 0 5%;

        .text-wrap {
            min-width: 210px;
            margin-right: 30px;
            padding: 10px 10px 10px 0;
            text-align: right;

            p {
                margin: 0;
                padding-top: 5px;
                color: $light-text;
                text-transform: uppercase;
            }
        }
    }
}

.small-hero {
    @extend .hero;
    
    .hero-content {
        margin: 150px 0 0;
    }
}

