@mixin hero-image($image-path) {
    width: 100%;
    background: $image-path;
    background-size: cover;
    background-position: 60% 20%;
}

@mixin card-effect($color, $shadow-color) {
    background: $color;
    box-shadow: 6px 6px 20px 0px $shadow-color;
}

@mixin project-image($image-path) {
    width: 200px;
    height: 170px;
    border-radius: 10% / 50%;
    background: $image-path;
}