@mixin hero-image($image-path) {
    width: 100%;
    background: $image-path;
    background-size: cover;
    background-position: 60% 20%;
}

@mixin card-effect($color, $shadow-color) {
    background: $color;
    box-shadow: 6px 6px 20px 0px $shadow-color;
}

@mixin project-image($image-path) {
    width: 250px;
    height: 200px;
    border-radius: 10% / 50%;
    background: $image-path;
    margin: 0 60px 20px 0;
}

