// DEBUGGER
$debug: orange;
$debug2: orangered;

// COLOR VARIABLES
$primary-color: lightblue;
$secondary-color: steelblue;
$blue-tint: rgba(0, 0, 128, 0.9);
$tint-gradient: linear-gradient(90deg, rgba(0,0,0,0.9), rgba(0,0,0,0.5) 90%, transparent);
$light-text: white;
$dark-text: black;


